<footer class="site-footer">
    <div class="footer-inner">
        <div class="logo-col">
            <div class="logo">TF</div>
        </div>
        <div class="links-col">
            <h4>A PROPOS</h4>
            <ul>
                <li>Accueil</li>
                <li>Philosophie</li>
                <li>Équipe</li>
            </ul>
        </div>
        <div class="info-col">
            <h4>INFORMATIONS</h4>
            <ul>
                <li>Missions</li>
                <li>Contact</li>
            </ul>
        </div>
    </div>
</footer>