{% extends 'core/base.html' %}
{% load static %}
{% block title %}À propos{% endblock %}


{% block content %}
<section class="hero">
    <div class="hero-inner">
        <div class="hero-text">
            <div class="kicker">A PROPOS</div>
            <h1>NOTRE PHILOSOPHIE</h1>
            <p class="text-white">Terres-Fertiles s'engage afin de mettre en place une économie circulaire de la terre.</p>
        </div>
        <div class="hero-image" aria-hidden="true">
            <div class="image-side">
                <img src="{% static 'core/images/philo.png' %}" alt="">
            </div>
        </div>
    </div>
</section>

<section class="content-block">
    <div class="container">
        <div class="text">
            <h2>LA TERRE VÉGÉTALE, UNE RESSOURCE À PRÉSERVER</h2>
            <p>
                La terre dite « végétale » n'est pas une ressource infinie. Elle semble pourtant nécessaire pour
                végétaliser nos villes de demain.
            </p>
        </div>
        <div class="image-side"></div>

        
    </div>
</section>

<section class="content-block">
    <div class="container">
        <div class="image-side"></div>
        <div class="text">
            <h2>LA TERRE VÉGÉTALE, UNE RESSOURCE À PRÉSERVER</h2>
            <p>
                La terre dite « végétale » n'est pas une ressource infinie. Elle semble pourtant nécessaire pour
                végétaliser nos villes de demain.
            </p>
        </div>
        

    </div>
</section>

<section class="team-block">
    <h2 class="center">NOTRE ÉQUIPE</h2>
    {% include 'core/team.html' with members=members %}

</section>
{% endblock %}